pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #405c79 }
.codehilite { background: #0b1c2c; color: #cbd6e2 }
.codehilite .c { color: #627e99 } /* Comment */
.codehilite .err { color: #bf8b56 } /* Error */
.codehilite .k { color: #bf568b } /* Keyword */
.codehilite .l { color: #56bf8b } /* Literal */
.codehilite .o { color: #568bbf } /* Operator */
.codehilite .ch { color: #627e99 } /* Comment.Hashbang */
.codehilite .cm { color: #627e99 } /* Comment.Multiline */
.codehilite .cp { color: #bf5656 } /* Comment.Preproc */
.codehilite .cpf { color: #56bf8b } /* Comment.PreprocFile */
.codehilite .c1 { color: #627e99 } /* Comment.Single */
.codehilite .cs { color: #627e99 } /* Comment.Special */
.codehilite .kc { color: #bf568b } /* Keyword.Constant */
.codehilite .kd { color: #bf568b } /* Keyword.Declaration */
.codehilite .kn { color: #bf568b } /* Keyword.Namespace */
.codehilite .kp { color: #bf568b } /* Keyword.Pseudo */
.codehilite .kr { color: #bf568b } /* Keyword.Reserved */
.codehilite .kt { color: #bf8b56 } /* Keyword.Type */
.codehilite .ld { color: #56bf8b } /* Literal.Date */
.codehilite .m { color: #bfbf56 } /* Literal.Number */
.codehilite .s { color: #56bf8b } /* Literal.String */
.codehilite .na { color: #8b56bf } /* Name.Attribute */
.codehilite .nb { color: #8b56bf } /* Name.Builtin */
.codehilite .nc { color: #8b56bf } /* Name.Class */
.codehilite .no { color: #bfbf56 } /* Name.Constant */
.codehilite .nd { color: #bfbf56 } /* Name.Decorator */
.codehilite .nf { color: #8b56bf } /* Name.Function */
.codehilite .nn { color: #8b56bf } /* Name.Namespace */
.codehilite .nt { color: #bf568b } /* Name.Tag */
.codehilite .nv { color: #8b56bf } /* Name.Variable */
.codehilite .ow { color: #bf568b } /* Operator.Word */
.codehilite .w { color: #cbd6e2 } /* Text.Whitespace */
.codehilite .mb { color: #bfbf56 } /* Literal.Number.Bin */
.codehilite .mf { color: #bfbf56 } /* Literal.Number.Float */
.codehilite .mh { color: #bfbf56 } /* Literal.Number.Hex */
.codehilite .mi { color: #bfbf56 } /* Literal.Number.Integer */
.codehilite .mo { color: #bfbf56 } /* Literal.Number.Oct */
.codehilite .sa { color: #56bf8b } /* Literal.String.Affix */
.codehilite .sb { color: #56bf8b } /* Literal.String.Backtick */
.codehilite .sc { color: #56bf8b } /* Literal.String.Char */
.codehilite .dl { color: #56bf8b } /* Literal.String.Delimiter */
.codehilite .sd { color: #56bf8b } /* Literal.String.Doc */
.codehilite .s2 { color: #56bf8b } /* Literal.String.Double */
.codehilite .se { color: #56bf8b } /* Literal.String.Escape */
.codehilite .sh { color: #56bf8b } /* Literal.String.Heredoc */
.codehilite .si { color: #bf5656 } /* Literal.String.Interpol */
.codehilite .sx { color: #56bf8b } /* Literal.String.Other */
.codehilite .sr { color: #568bbf } /* Literal.String.Regex */
.codehilite .s1 { color: #56bf8b } /* Literal.String.Single */
.codehilite .ss { color: #bfbf56 } /* Literal.String.Symbol */
.codehilite .bp { color: #bf8b56 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #8b56bf } /* Name.Function.Magic */
.codehilite .vc { color: #8b56bf } /* Name.Variable.Class */
.codehilite .vg { color: #8b56bf } /* Name.Variable.Global */
.codehilite .vi { color: #bf8b56 } /* Name.Variable.Instance */
.codehilite .vm { color: #8b56bf } /* Name.Variable.Magic */
.codehilite .il { color: #bfbf56 } /* Literal.Number.Integer.Long */
