:root {
  --text-50: #f4f0f1;
  --text-100: #eae1e2;
  --text-200: #d5c3c6;
  --text-300: #c0a5a9;
  --text-400: #aa888c;
  --text-500: #956a70;
  --text-600: #775559;
  --text-700: #5a3f43;
  --text-800: #3c2a2d;
  --text-900: #1e1516;
  --text-950: #0f0b0b;

  --background-50: #f4f0f0;
  --background-100: #e9e2e2;
  --background-200: #d4c4c4;
  --background-300: #bea7a7;
  --background-400: #a88a8a;
  --background-500: #936c6c;
  --background-600: #755757;
  --background-700: #584141;
  --background-800: #3b2b2b;
  --background-900: #1d1616;
  --background-950: #0f0b0b;

  --primary-50: #f4f0f1;
  --primary-100: #eae1e2;
  --primary-200: #d5c3c6;
  --primary-300: #c0a5a9;
  --primary-400: #aa888c;
  --primary-500: #956a70;
  --primary-600: #775559;
  --primary-700: #5a3f43;
  --primary-800: #3c2a2d;
  --primary-900: #1e1516;
  --primary-950: #0f0b0b;

  --secondary-50: #f0f4f3;
  --secondary-100: #e1eae7;
  --secondary-200: #c3d5cf;
  --secondary-300: #a5c0b8;
  --secondary-400: #88aaa0;
  --secondary-500: #6a9588;
  --secondary-600: #55776d;
  --secondary-700: #3f5a52;
  --secondary-800: #2a3c36;
  --secondary-900: #151e1b;
  --secondary-950: #0b0f0e;

  --accent-50: #f0f1f4;
  --accent-100: #e1e3ea;
  --accent-200: #c3c7d5;
  --accent-300: #a5acc0;
  --accent-400: #8890aa;
  --accent-500: #6a7495;
  --accent-600: #555d77;
  --accent-700: #3f465a;
  --accent-800: #2a2e3c;
  --accent-900: #15171e;
  --accent-950: #0b0c0f;

  --dark-border-color: var(--primary-300);
  --dark-border-hover-color: var(--primary-400);
  --dark-background-color: var(--background-900);
  --dark-highlighted-background-color: var(--background-800);
  --dark-text-color: var(--text-50);
  --dark-danger-color: var(--accent-700);
  --dark-danger-text-color: var(--text-50);
  --dark-danger-hover-color: var(--accent-600);
  --dark-success-color: var(--primary-500);
  --dark-success-text-color: var(--text-50);
  --dark-success-hover-color: var(--primary-600);
  --dark-danger-text-background-color: var(--accent-700);
  --dark-success-text-background-color: var(--primary-500);
  --dark-code-text-color: var(--text-100);
  --code-text-color: var(--text-100) !important;
  --dark-code-background-color: var(--background-950);
  --dark-link-color: var(--accent-400);
  --dark-link-visited-color: var(--accent-400);
  --dark-link-hover-color: var(--accent-300);
  --dark-link-active-color: var(--accent-300);
  --header-color: var(--primary-300);
  --max-body-width: 80rem;
  --landscape-background: var(--background);
  font-size: calc(1.3rem * 1vw);
}
